body {
  color: #000000;
  background-color: #ffffff;
  font-family: 'EB Garamond', serif;
  box-sizing: border-box;
  font-size: 18px;
}
.navbar-header {
	text-align: left;
	font-weight: bold; 
  background-color:black;
}

.btn{
  background-color: grey;
}